<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412165805129-k6bn0vsqafl5sro9uts5m3g7kjomc5ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412165805129-k6bn0vsqafl5sro9uts5m3g7kjomc5ph</string>
	<key>API_KEY</key>
	<string>AIzaSyB3LEeF4GD1uKVMXB2vfhHKDVIDGwihaLA</string>
	<key>GCM_SENDER_ID</key>
	<string>412165805129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.centicBids</string>
	<key>PROJECT_ID</key>
	<string>centicbids-7c51f</string>
	<key>STORAGE_BUCKET</key>
	<string>centicbids-7c51f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412165805129:ios:eaa5a5e37d73a729821b98</string>
</dict>
</plist>